.chatContainer {
  flex-grow: 3;
  padding: 0 8px 0 8px;

  overflow: auto;

  display: flex;
  flex-direction: column-reverse;
}

.chatList {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column-reverse;
}

.chatListItems {
  display: flex;
  flex-direction: column;
}

.chatContent,
.chatDate {
  margin-bottom: 18px;
  padding: 8px 24px 8px 8px;
  border-radius: 8px;
  box-shadow: 0px 1px 1px 0px grey;
}

.chatDate {
  font-size: smaller;
  box-shadow: 0px 0px 1px 0px grey;
  align-self: center;
}

.chatContent {
  background-color: #d9fdd3;
  max-width: 75%;
}

.sendMessage {
  align-self: flex-end;
}

.receivedMessage {
  align-self: flex-start;
}

.contentDate {
  margin-left: 8px;
  font-size: x-small;
  vertical-align: sub;
}

.formContainer {
  position: sticky;
  bottom: 0px;
  margin-top: 10px;
  background-color: white;
}

.form {
  margin-bottom: 16px;

  padding: 12px;
  border: 1px solid grey;
  border-radius: 16px;
  display: flex;

  background-color: white;
}

.formInput {
  color: black;
  flex: 2;

  border: none;
}

.formInput:focus {
  outline: none;
}
